body{
    height: 100%;
}
.m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10{
    width: 200px;
    height: 200px;
    float: left;
    margin: 2px;
    border: 1px solid #cecece;
}
/* 前面四种都是通过absolute来定位，
然后再用各种方式来移动自身元素的一半 */
.m1, .m2, .m3, .m4{
    position: relative;
}
div[class*="m"] > div{
    width: 100px;
    height: 100px;
}
.m1 > div{
    background: yellowgreen;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.m2 > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: yellow;
}

.m3 > div{
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    background: blue;
}

.m4 > div{
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.m5{
    line-height: 200px;
    text-align: center;
    font-size: 0;
}
.m5 > div{
    background: aqua;
    display: inline-block;
    vertical-align: middle;
}
.m6{
    display: table-cell;
    text-align: center;
    vertical-align: center;
    
}
.m6 > div{
    display: inline-block;
    
    background: grey;
}

.m10{
    display: flex;
    align-items: center;
    justify-content: center;
}
.m10 > div{
    background: purple;
}