body{
    height: 100%;
}
div[class*='m']{
    width: 200px;
    height: 200px;
    float: left;

    margin: 2px;
    border: 1px solid #cecece;
}
/* 前面四种都是通过absolute来定位，
然后再用各种方式来移动自身元素的一半 */
.m1, .m2, .m3, .m4{
    position: relative;
}
div[class*="m"] > div{
    width: 100px;
    height: 100px;
}
.m1 > div{
    background: yellowgreen;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.m2 > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: yellow;
}

.m3 > div{
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    background: blue;
}

.m4 > div{
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.m5{
    line-height: 200px;
    text-align: center;
    font-size: 0;
}
.m5 > div{
    background: aqua;
    display: inline-block;
    vertical-align: middle;
}

.m6{
    display: flex;
    
}
.m6 > div{
    margin: auto;
    background: grey;
}

.m7{
    display: flex;
    justify-content: center;
}
.m7 > div{
    align-self: center;
    background: gold;
}

.m8{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: '. . .'
                         '. mr3x .'
                         '. . .';

}
.m8 > div{
    grid-area: mr3x;
    background: silver;
}

.m9{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m9 > div{
    background: brown;
}
.m10{
    display: flex;
    align-items: center;
    justify-content: center;
}
.m10 > div{
    background: purple;
}

.m11{
    display: grid;
    justify-content: center;
    align-content: center;
}
.m11 > div{
    background: rgb(80, 114, 114);
}

.m12{
    display: grid;
    justify-content: center;

}
.m12 > div{
    align-self: center;
    background: rgb(0, 255, 149);
}

.m13{
    display: grid;
    place-items: center;
}
.m13 > div{
    background: wheat;
}

.m14{
    display: grid;
    place-content: center;
}
.m14 > div{
    background: salmon
}

.m15{
    display: grid;
}
.m15 > div{
    margin: auto;
    background: pink;
}

.m16{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none;
}
.m16 > div{
    background: powderblue;
    margin: auto;
}

.m17{
    writing-mode: tb-lr;
    writing-mode: vertical-lr;
}
.m17 > div{
    writing-mode: lr-tb;
    margin: auto;
    background: tan;
}